body {
    margin-top: -95px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
    background-color: #252525;
    height: 95px;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 320px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 20px;
}

.container {
    width: 85%;
}

.header {
    font-weight: bold;
}

.lead {
    font-size: 16px;
    margin-top: 20px;
}

.btn-group{
    margin-top: 10px;
}

.panel-body {
    display: none; /* Hide all panel bodies initially */
}

.panel-heading {
    cursor: pointer; /* Change cursor on hover to indicate clickability */
}

.text-muted {
    font-weight: bold;
    color: black;
    margin-top: 15px;
    margin-bottom: 25px; 
}

.panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
}

.panel-title {
    font-size: 18px;
    font-weight: bold;
    color: #8FCF69;
}

.panel-default>.panel-heading {
    background-color: #252525;
}

.panel-body {
    background-color: #F1F1F1;
}

.panel-default>.panel-heading:hover {
    background-color: #8FCF69;
}

.panel-default > .panel-heading:hover .panel-title {
    color: #252525; 
}

.footer {
    margin-top: 20px;
    height: 60px;
    background-color: black;
}